{% extends "base.html" %}

{% block content %}
    <h2 style="font-size:2em;font-family:Georgia,'Times New Roman',Times,serif;">Your photo is here.</h2>
    <div style="margin-left:10px;">
        <p><span style="color:blue;font-weight:bold"> Photo name: </span>
            {{img_name}} <br>
        <span style="color:blue;font-weight:bold"> Photo location:  </span>
            {{location}}<br>
        <span style="color:blue;font-weight:bold"> Photo description: </span>
            {{description}}</p>
    </div>
    <div style="margin:auto;width:auto;text-align:center;">
        <h2 class="grey">original:</h2>
        <img src="{{img_src_set[0]}}"
             alt="{{filename}}">
    </div>
    <div style="margin:auto;width:auto;text-align:center;">
        <h2 class="grey">scale up:</h2>
        <img src="{{img_src_set[1]}}"
         alt="scale up transformation">
    </div>
    <div style="margin:auto;width:auto;text-align:center;">
        <h2 class="grey">scaled down:</h2>
        <img src="{{img_src_set[2]}}"
         alt="scaled down transformation">
    </div>
    <div style="margin:auto;width:auto;text-align:center;">
        <h2 class="grey" >black and white:</h2>
        <img src="{{img_src_set[3]}}"
         alt="black and white transformation">
    </div>


{% endblock %}
